BACKEND_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_SUPABASE_URL=http://citymind-supa.minhmice.com
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc4NDU0MTc4MCwiZXhwIjo0OTQwMjE1MzgwLCJyb2xlIjoiYW5vbiJ9.CSdMo4wgPH_Xl_OUDVjFoG7kzCwTRWq1J06zXLcLSS4
NEXT_PUBLIC_MAP_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
NEXT_PUBLIC_MAP_TILE_ATTRIBUTION=© OpenStreetMap contributors
